.full {
    background: rgb(255, 216, 221);
    height: 100vh;
    padding: 0%;
}

.box_login {
    padding-top: 80px;
}

.box_login div {
    border-radius: 5px;
    background-color: white;
    max-width:30%;
    margin-left: auto;
    margin-right: auto;
    height: 450px;
    
}

.box_login h2 {
    padding-top: 80px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
}
.box_login input{
    width: 70%;
    display: flex;
    margin: 0% auto;
    padding: 10px ;
}
.box_login textarea{
    width: 70%;
    display: flex;
    margin: 0% auto;
    padding: 10px ;
}
.box_login button{
    width: 70%;
    display: flex;
    margin: 0px auto 30px;
    padding: 10px ;
    background: rgb(255, 255, 175);
    color: black;
    border: none;
    justify-content: center;
}
.box_login button:hover{
    background-color: rgb(255, 255, 139);
}